In [5]:
age=19
print("my age is:",age)

my age is: 19

In [6]:
print(f"MY age is:{age}")

MY age is:19

In [8]:
name="naveeth"
age=19
print("my name is {} and age is {}".format(name,age))

my name is naveeth and age is 19

In [10]:
print("my name is {} and age is {}".format(age,name))

my name is 19 and age is naveeth

In [11]:
print("my name is {firstname} and age is {firstage}".format(firstname=name,firstage=age))

my name is naveeth and age is 19

In [24]:
name="navi"
age=20
degree="btech"

In [27]:
print("my age is {} and i have completed: my degree {} with the name of {}".format(age,degree,name))

my age is 20 and i have completed: my degree btech with the name of navi

In [29]:
print(f"My age is {age} and i have completed: my degree {degree} with the name of {name}".format(age,degree,name))

My age is 20 and i have completed: my degree btech with the name of navi

.if 
.if else
.if elif else
.nested if
.single statement suites

### if statement

In [30]:
age=18
if age>=18:
    print("you are eligible")

you are eligible

In [33]:
age=17
if age<18:
    print("you are not eligible")

you are not eligible

In [34]:
input(0)

0naveeth

'naveeth'

In [35]:
name=input("enter your name")

enter your namenaveeth

In [36]:
name

'naveeth'

In [37]:
age=int(input("enter your age"))

enter your age19

In [38]:
age

19

In [41]:
age=int(input("enter the age"))
if age>=18 and age<=32:
    print("your young boy")

enter the age17

In [42]:
age

17

In [43]:
age=int(input("enter the age"))
if age>=18 and age<=32:
    print("your young boy")

enter the age25
your young boy

## if else

In [44]:
age=int(input("enter the age"))
if age>=18 and age<=32:
    print("your young boy")
else:
    print("your bad boy")

enter the age15
your bad boy

In [46]:
product_price=int(input("enter the price"))
if product_price>1000:
    print("the price of the product is {}".format(product_price*0.8))
else:
    print("the price of the product is {}".format(product_price*0.7))

enter the price600
the price of the product is 420.0

In [47]:
product_price=int(input("enter the price"))
if product_price>1000:
    print("the price of the product is {}".format(product_price*0.8))
else:
    print("the price of the product is {}".format(product_price*0.7))

enter the price5000
the price of the product is 4000.0

In [46]:
product_price=int(input("enter the price"))
if product_price>1000:
    print("the price of the product is {}".format(product_price*0.8))
else:
    print("the price of the product is {}".format(product_price*0.7))

enter the price600
the price of the product is 420.0

In [48]:
product_price=int(input("enter the price"))
if product_price>3000:
    print("the price of the product is {}".format(product_price*0.8))
elif product_price>=2000 and product_price<=300:
    print("the price of the product is ()".format(product_price*0.7))
else:
    print("the price of the product is {}".format(product_price*0.6))

enter the price5000
the price of the product is 4000.0

In [49]:
product_price=int(input("enter the price"))
if product_price>3000:
    print("the price of the product is {}".format(product_price*0.8))
elif product_price>=2000 and product_price<=300:
    print("the price of the product is ()".format(product_price*0.7))
else:
    print("the price of the product is {}".format(product_price*0.6))

enter the price500
the price of the product is 300.0

In [50]:
product_price=int(input("enter the price"))
if product_price>3000:
    print("the price of the product is {}".format(product_price*0.8))
elif product_price>=2000 and product_price<=300:
    print("the price of the product is ()".format(product_price*0.7))
else:
    print("the price of the product is {}".format(product_price*0.6))

enter the price0
the price of the product is 0.0

In [58]:
product_price=int(input("enter the price"))
if product_price>3000:
    print("the price of the product is {}".format(product_price*0.8))
elif product_price>=2000 and product_price<=300:
    print("the price of the product is ()".format(product_price*0.7))
elif product_price>=100 and product_price<=2000:
    print("the price of the product is {}".format(product_price*0.6))
else:
    print("lets drink tea")

enter the price2999
lets drink tea

In [57]:
product_price=int(input("enter the price"))
if product_price>3000:
    if product_price==4000:
        print("you get trip to goa")
    print("the price of the product is {}".format(product_price*0.8))
elif product_price>=2000 and product_price<=300:
    if product_price==2999:
        print("congrats you got gift")
    print("the price of the product is ()".format(product_price*0.7))
elif product_price>=100 and product_price<=2000:
    print("the price of the product is {}".format(product_price*0.6))
else:
    print("lets drink tea")

enter the price4000
you get trip to goa
the price of the product is 3200.0

## single statements

In [59]:
val=int(input('enter the number'))
if(val<=999):
    print("value is less then equal to 999")

enter the number400
value is less then equal to 999

In [61]:
val=int(input('enter the number'))
if(val<=999):
    print("value is less then equal to 999")
else:
    print("go home ")

enter the number1000
go home